@using BlogWebApplication.ViewComponents.Index

<main id="main">

    <!-- ======= About Section ======= -->
    @await Component.InvokeAsync(typeof(AboutViewComponent));

    <!-- ======= Contribution Section ======= -->
    @await Component.InvokeAsync(typeof(ContributionViewComponent));

    <!-- ======= Featured Services Section ======= -->
    @await Component.InvokeAsync(typeof(FeaturedServicesViewComponent));

    <!-- ======= F.A.Q Section ======= -->
    @await Component.InvokeAsync(typeof(FaqViewComponent));

    <!-- ======= Team Section ======= -->
    @await Component.InvokeAsync(typeof(TeamViewComponent));

    <!-- ======= Recent Blog Posts Section ======= -->
    @await Component.InvokeAsync(typeof(ProjectsViewComponent));

    <!-- ======= Contact Section ======= -->
    @await Component.InvokeAsync(typeof(ContactViewComponent));
</main><!-- End #main -->