@using BlogWebApplication.ViewComponents.Index
<body>
    <!-- ======= Header ======= -->
    @await Component.InvokeAsync(typeof(HeaderViewComponent));

    <!-- ======= Hero ======= -->
    @await Component.InvokeAsync(typeof(HeroViewComponent));

    <!-- ======= Main ======= -->
    @await Component.InvokeAsync(typeof(MainViewComponent));

    <!-- ======= Footer ======= -->
    @await Component.InvokeAsync(typeof(FooterViewComponent));

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/materials/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/materials/assets/vendor/aos/aos.js"></script>
    <script src="~/materials/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/materials/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/materials/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/materials/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/materials/assets/js/main.js"></script>
</body>