<section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Us</h2>
          <p>
            We are a community of software developers, engineers and designers with the passion of improving our communities through technology.
            Our main activity is in software development with strict focus in education, the environment and small-scale businesses. We use technology to solve problems in our community.
          </p>
        </div>

        <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-12">
            
            <!-- Tabs -->
            <ul class="nav nav-pills mb-3">
              <li><a class="nav-link active" data-bs-toggle="pill" href="#tab1">Goals</a></li>
            </ul><!-- End Tabs -->

            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="tab1">

                <p class="fst-italic">
                  Our goal/purpose aims to support and contribute to the 17 United Nation Sustainable Development Goals. We strictly focus on Goal 9, 4 and 8.
                </p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Goal 9. Industry, Innovation and Infrastructure</h4>
                </div>
                <p>
                  Increase access to information and communications technology in our rural and urban areas. Use technology as a tool to provide innovative solutions to environment issues.
                </p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Goal 4. Quality Education</h4>
                </div>
                <p>
                  Provide access to free educational materials to students in software form on all platforms that can be accessed anywhere. Use technology as a tool to improve the current educational system.
                </p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Goal 8. Decent Work and Economic Growth</h4>
                </div>
                <p>
                  Strengthen the operations of local businesses by adding more avenues that will help to expand their business. Use technology as a tool to maximize productivity and provide more jobs.
                </p>
              </div><!-- End Tab 1 Content -->
            </div>

          </div>

        </div>

      </div>
    </section><!-- End About Section -->