@model BlogWebApplication.Models.IndexViewModels.IndexViewModel

<section id="faq" class="faq">
  <div class="container" data-aos="fade-up">
    <div class="row gy-4">
      <div class="col-lg-12 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

        <div class="content px-xl-5" style="text-align: center">
          <h3>Frequently Asked <strong>Questions</strong></h3>
          <p>
            Questions that are frequently asked by our prospect community members.
          </p>
        </div>

        <div class="accordion accordion-flush px-xl-5" id="faqlist">
            @foreach(var faq in Model.Faqs){
                <div class="accordion-item" data-aos="fade-up" data-aos-delay="@faq.Id.ToString().PadRight(2, '0')">
                    <h3 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-@faq.Id">
                        <i class="bi bi-question-circle question-icon"></i>@faq.Head</button>
                    </h3>
                    <div id="faq-content-@faq.Id" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                        <div class="accordion-body">
                        <i class="bi bi-question-circle question-icon"></i>@faq.Body</div>
                    </div>
                </div><!-- # Faq item--> 
            }
        </div>
      </div>
    </div>
  </div>
</section><!-- End F.A.Q Section -->