<section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
      <img src="~/materials/assets/img/hero-carousel/hero-carousel-3.svg" class="img-fluid animated">
      <h2>Welcome to <span>@ViewData["WebsiteName"]</span></h2>
      @* <p>Et voluptate esse accusantium accusamus natus reiciendis quidem voluptates similique aut.</p> *@
      <p>
          @ViewData["WebsiteName"] is a non-profit technology organisation based in Ghana, West Africa. 
          We believe the age of digital transformation is now and it is important that we embrace this change. 
          We are looking for people with such motivation to join the team. <br />
          Come onboard and let transform the world together.
        </p>
      <div class="d-flex">
        <a href="#about" class="btn-get-started scrollto">Learn More</a>
        @* <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a> *@
      </div>
    </div>
  </section>