<style>
  #hero-main{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../materials/assets/img/hero-carousel/newcreationpic.jpg") top center;
    background-size: cover;
  }
  #hero-main:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.75));
  }
  #hero-text{
    position: absolute;
    top: 30%;
    width: 80%;
    margin: 0 auto;
    color: white;
  }
</style>

<section id="hero-animated" class="hero-animated d-flex align-items-center">
  <div id="hero-main" class="d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
    @* <img id="hero-img" src="~/materials/assets/img/hero-carousel/newcreationpic.jpg" class="img-fluid" /> *@
    <div id="hero-text">
      <h2 style="text-shadow: 0 2px 3px rgb(41 41 41 / 70%); color:white">Welcome to <span>@ViewData["WebsiteName"]</span></h2>
      <p style="text-shadow: 0 2px 3px rgb(41 41 41 / 70%); color:white">
          @ViewData["WebsiteName"] is a non-profit technology organisation based in Ghana, West Africa. 
          We believe the age of digital transformation is now and it is important that we embrace this change. 
          We are looking for people with such motivation to join the team.
          Come onboard and let transform the world together.
      </p>
      <div class="d-flex justify-content-center">
        <a href="#about" class="btn-get-started scrollto">Learn More</a>
        @* <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a> *@
      </div>
    </div>
  </div>
</section>