    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-out">

        <div class="row g-5">

          <div class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
            <h3>Become a member of this Great and Exciting community.</h3>
            <p> 
              Select a project from Education, Environment or Small-Scale Business. Read the project information and requirements. Contact the project lead. Acquire approval and start developing. Wish you all the best.
            </p>
            <a class="cta-btn align-self-start" href="#">Pick A Project</a>
          </div>

          <div class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center">
            <div class="img">
              <img src="assets/img/cta.jpg" alt="" class="img-fluid">
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Call To Action Section -->
